.modal {
    z-index: 99;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: #1e1e1e;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    overflow: hidden;
    border-radius: 3px;
    margin-right: 10px;
    margin-left: 10px;
}

.childContainer {
    padding: 20px;
    flex: 1;
    overflow: auto;
}
