.blog-input-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.image-upload-section,
.submit-section {
    display: flex;
    flex-direction: column;
}

.text-input-section{
  display: flex;
  flex-direction: column;
  gap: 0px !important;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3;
}


.dashboardContainer {
    display: flex;
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  
  .dataSummary {
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
    color: black;
  }
  
  .dataSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .dataBox {
    flex: 0 0 calc(50% - 1rem);
    box-sizing: border-box;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    margin: 0.5rem;
    font-size: 1.5rem;
  }
  
  .dataBox strong {
    display: block;
    font-size: 3rem;
    margin-top: 1rem;
    color: rgb(61, 121, 176);
  }
  
  @media (max-width: 768px) {
    .dataBox {
      flex: 0 0 calc(50% - 1rem);
    }
  }
  
  @media (max-width: 480px) {
    .dataBox {
      flex: 0 0 100%;
    }
  }
  
  .image{
    width: 100%;
    object-fit: cover;
    max-height: 400px;
  }